<!DOCTYPE html>

<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

  <title>Learn English</title>

  <nav id="nav">
    <ul>
      <li><a href="{{ url_for('index')}}">home</a></li>
      <li> <a href="{{ url_for('dashboard')}}">dashboard</a></li>
      <li> <a href="{{ url_for('register')}}">sign up</a></li>
      <li> <a href="{{ url_for('login')}}">login</a></li>

    </ul>
  </nav>
</head>

<body>

  <div class="pointheader">
    <ul>
      <li>points: {{ points }}</li>
      <li>correct: </li>
      <li>incorrect: </li>

    </ul>
  </div>


  <div class="game">
    <h1>Type out the word you see. <button style='font-size:24px'><i class='fas fa-volume-up'></i></button></h1>

    <h2>{{ word }}</h2>

    <div class="wordform">
      <form action="{{ url_for('start')}}" method="post">
        <li><input type="text" name="word" placeholder="Type here."></li>
        <div class="btn">
        <button onclick="window.location.href='/start';">Submit</button>
        </div>
      </form>
    </div>

  </div>



</body>
</html>
