<!DOCTYPE html>

<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

  <title>Learn English</title>

  <nav id="nav">
    <ul>
      <li><a href="{{ url_for('index')}}">home</a></li>
      <li> <a href="{{ url_for('dashboard')}}">dashboard</a></li>
      <li> <a href="{{ url_for('register')}}">sign up</a></li>
      <li> <a href="{{ url_for('login')}}">login</a></li>

    </ul>
  </nav>


</head>

<body>

  <div class="registertop">
    <h2>LOGIN: </h2>



    <form action="{{ url_for('login')}}" method="post">
        <li><input type="text" name="username" placeholder="Enter Your Username"></li>
        <li><input type="text" name="password" placeholder="Enter Your Password"></li>
        <div class="btn">
        <button>Submit</button>
        </div>
    </form>





</body>

</html>
