<!DOCTYPE html>

<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

  <title>Learn English</title>

<div class="specialnav">
  <nav id="nav">
    <ul>
      <li><a href="{{ url_for('index')}}">home</a></li>
      <li> <a href="{{ url_for('dashboard')}}">dashboard</a></li>
      <li> <a href="{{ url_for('register')}}">sign up</a></li>
      <li> <a href="{{ url_for('login')}}">login</a></li>

    </ul>
  </nav>
</div>


</head>

<body>

<div class="register">
  <div class="registertop">
    <h2>Create your profile:</h2>

    <form action="{{ url_for('register')}}" method="post">
      <li><input type="text" name="name" placeholder="name"></li>
        <li><input type="text" name="username" placeholder="username"></li>
        <li><input type="password" name="password" placeholder="password"></li>
        <div class="btn">
        <button>create account</button>
        </div>
    </form>
  </div>
</div>








</body>

</html>
